<nav class="min-w-56 p-4">
  <ol>
    <li>
      <a
        href="/budget/summary"
        hx-push-url="true"
        hx-target="#main"
        hx-select="#main"
        class="link link-hover"
        >Budget Summary</a
      >
    </li>
    <li>
      <a
        href="/budget/details"
        hx-push-url="true"
        hx-target="#main"
        hx-select="#main"
        class="link link-hover"
        >Budget Details</a
      >
    </li>
    <li>
      <a
        href="/budget/transactions"
        hx-push-url="true"
        hx-target="#main"
        hx-select="#main"
        class="link link-hover"
        >Budget Transactions</a
      >
    </li>
    <li>
      <!-- TODO: don't forget to change year to 'current' -->
      <a
        href="/balance_sheet/years/2024"
        hx-push-url="true"
        hx-target="#main"
        hx-select="#main"
        class="link link-hover"
        >Year Details</a
      >
    </li>
  </ol>
</nav>
