<nav class="min-w-56 p-4" hx-target="#main" hx-select="#main > *">
  <ol>
    <li>
      <a href="/budget/summary" class="link link-hover">Budget Summary</a>
    </li>
    <li>
      <a href="/budget/details" class="link link-hover">Budget Details</a>
    </li>
    <li>
      <a href="/budget/transactions" class="link link-hover"
        >Budget Transactions</a
      >
    </li>
    <li>
      <a href="/balance_sheet/years/latest" class="link link-hover"
        >Latest Year Details</a
      >
    </li>
  </ol>
</nav>
