<tr class="font-bold">
  <td class="min-w-lg-content">Total</td>
  {% for (y, m, b) in total_assets.iter_all_balances() %}
  <td class="text-right min-w-md-content">
    <div class="input !p-0 flex items-center justify-end">
      {% if let Some(b) = b -%}
      <span title="{{ self::num_to_currency(b.clone()) }}">
        {{ self::num_to_currency_rounded(b.clone()) }}
      </span>
      {% else -%}
      <span> {{ self::num_to_currency_rounded(0) }} </span>
      {% endif -%}
    </div>
  </td>
  {% endfor %}
</tr>
